


<% if not @results.empty? %>
  <h2>
    <%= @results["total_results"] %> total result<%= @results["total_results"] > 1 ? "s" : "" %>!
  </h2>


  <% if @results["total_results"] > MAX_HITS %>
    <h3>
      To save some traffic I'll only show you <%= @results["results"].length %> results tho :)
    </h3>
  <% end %>

  <ul>
    <% @results["result_slice"].each do |r| %>
      <li>
        <%= render 'search_result', result: r %>
      </li>
    <% end %>
  </ul>

  <% if @results["total_results"] > PAGE_ENTRY_COUNT %>
    <tr>
      <% if params[:p].to_i > 1 %>
        <%= link_to "[Previous]", search_url+"?q="+params[:q].to_s+"&p="+(params[:p].to_i - 1).to_s %>
      <% end %>
      <% for i in 1..@results["page_count"] do %>
        <%= link_to "[Page #{i}]", search_url+"?q="+params[:q].to_s+"&p="+i.to_s %>
      <% end %>
      <% if params[:p].to_i < @results["page_count"] %>
        <%= link_to "[Next]", search_url+"?q="+params[:q].to_s+"&p="+(params[:p].to_i + 1).to_s %>
      <% end %>
    </tr>
  <% end %>



<% else %>
  <ul>
    Sorry no results yet!
  </ul>
<% end %>




<br>
<%= link_to "[Show Favourites]", "favourites?p=1" %>
<%= link_to "[Return to Main Menu]", current_user %>

