<tr>
  <td>
    <%= result["prefixTitle"] %>
  </td>

  <td>
    <%= result["firstname"] %>
  </td>

  <td>
    <%= result["lastname"] %>
  </td>
  <td>
    <%= link_to "Details" %>
  </td>
  <td>
    <%= link_to "Add to Favourites" %>
  </td>
</tr>
