<h1> Edit notes and keywords
  for <%= @favourites["objects"][params[:id].to_i - 1]["first_name"] + " " + @favourites["objects"][params[:id].to_i - 1]["last_name"] %></h1>

<%= form_with model: @favourite, url: staff_update_path(id: @favourite["id"]), method: :post do |form| %>
  <div>
    <%= form.label :notes %>
    <%= form.text_field :notes %>
  </div>
  <div>
    <%= form.label :keywords %>
    <%= form.text_field :keywords %>
  </div>
  <div>
    <%= form.submit %>
  </div>
<% end %>

<h2>
  <%= link_to "[Back to Staff Favourites]", staff_favourites_url(:p => 1) %>
</h2>

