<h1> <%= format_course_number(@result["courseNumber"]) %> <%= @result["title"]["en"] %></h1>
<hr>
<h3><%= @result["semesterCode"] %>, <%= @result["courseType"] %></h3>
<div class="details">
  <% unless @result["additionalInformation"]["en"].nil? %>
    <h2>Properties</h2>
    <%= @result["additionalInformation"]["en"].html_safe %>
  <% end %>

  <% unless @result["objective"]["en"].nil? %>
    <h2>Learning outcomes</h2>
    <%= @result["objective"]["en"].html_safe %>
  <% end %>

  <% unless @result["teachingContent"]["en"].nil? %>
    <h2>Subject of course</h2>
    <%= @result["teachingContent"]["en"].html_safe %>
  <% end %>

  <% unless @result["examinationModalities"]["en"].nil? %>
    <h2>Mode of examination</h2>
    <%= @result["examinationModalities"]["en"].html_safe %>
  <% end %>

  <% unless @result["instituteName"]["en"].nil? %>
    <h2>Institute name</h2>
    <%= @result["instituteName"]["en"].html_safe %>
  <% end %>
  
  <% if is_favourite(@result["courseNumber"] + "-" + @result["semesterCode"]) %>
    <br>
    <h2>Favourite information:</h2>
    <p>Notes: <%= get_favourite_data(@result["courseNumber"] + "-" + @result["semesterCode"])["notes"] %></p>
    <p>Keywords: <%= get_favourite_data(@result["courseNumber"] + "-" + @result["semesterCode"])["keywords"] %></p>
  <% end %>
</div>
<div class="block">
  <%= link_to "[Courses]" %>
  <%= link_to "[Projects]" %>
  <%= link_to "[Theses]" %>
  <% unless is_favourite(@result["courseNumber"]+"-"+@result["semesterCode"]) %>
    <%= form_tag(course_create_path, method: :post) do %>
      <%= hidden_field_tag(:course_number, @result["courseNumber"]) %>
      <%= hidden_field_tag(:semester, @result["semesterCode"]) %>
      <%= hidden_field_tag(:title, @result["title"]) %>
      <%= submit_tag("[Add to Favourites]",:class => "link") %>
    <% end %>
  <% end %>
</div>
