<% if @result["title"]["en"].nil? %>
  <h1> <%= @result["title"]["de"] %></h1>
<% else %>
  <h1> <%= @result["title"]["en"] %></h1>
<% end %>

<hr>
<h3><%= @result["shortDescription"] %></h3>
<div class="details">
  <h2>Project Details</h2>
  <% unless @result["contractBegin"].nil? %>
    <p><b>Contract Begin:</b> <%= @result["contractBegin"].html_safe %></p>
  <% end %>

  <% unless @result["contractEnd"].nil? %>
    <p><b>Contract End:</b> <%= @result["contractEnd"].html_safe %></p>
  <% end %>

  <% unless @result["projectBegin"].nil? %>
    <p><b>Project Begin:</b> <%= @result["projectBegin"].html_safe %></p>
  <% end %>

  <% unless @result["projectEnd"].nil? %>
    <p><b>Project End:</b> <%= @result["projectEnd"].html_safe %></p>
  <% end %>

  <% unless @result["projectForm"].nil? %>
    <p><b>Project Form:</b> <%= @result["projectForm"].html_safe %></p>
  <% end %>

  <% unless @result["projectType"].nil? %>
    <p><b>Project Type:</b> <%= @result["projectType"].html_safe %></p>
  <% end %>

  <h2>Abstract</h2>
  <% if @result["abstract"]["en"].nil? %>
    <p><%= @result["abstract"]["de"].html_safe %></p>
  <% else %>
    <p><%= @result["abstract"]["en"].html_safe %></p>
  <% end %>
  <% if is_favourite(params[:id]) %>
    <h2>Favourite information:</h2>
    <p>Notes: <%= get_favourite_data(params[:id])["notes"] %></p>
    <p>Keywords: <%= get_favourite_data(params[:id])["keywords"] %></p>
  <% end %>
</div>
<div class="block">
  <%= link_to "[Courses]" %>
  <%= link_to "[Projects]" %>
  <%= link_to "[Theses]" %>
  <% unless is_favourite(params[:id]) %>
    <%= form_tag(project_create_path, method: :post) do %>
      <%= hidden_field_tag(:id, params[:id]) %>
      <%= hidden_field_tag(:title, @result["title"]["en"]) %>
      <%= submit_tag("[Add to Favourites]",:class => "link") %>
    <% end %>
  <% end %>
</div>
