<h1> Home Page</h1>
<%= content_tag :h1, current_user.welcome %>
<br>
<table>
  <tr>
    <td>
      Searches:
    </td>
  <tr>
    <td><%= link_to "[Staff base]", staff_search_path %></td>
    <td><%= link_to "[Course base]", course_search_path %></td>
    <td><%= link_to "[Project base]", project_search_path %></td>
    <td><%= link_to "[Thesis base]", thesis_search_path %></td>
  </tr>
  <tr>
    <td>
      Favourites:
    </td>
  </tr>
  <tr>
    <td><%= link_to "[Staff favourites]" %></td>
    <td><%= link_to "[Course favourites]" %></td>
    <td><%= link_to "[Project favourites]" %></td>
    <td><%= link_to "[Thesis favourites]" %></td>
  </tr>
</table>
