<h1> Home Page</h1>
<%= content_tag :h1, current_user.welcome %>
<br>
<table>
  <tr>
    <td>
      Searches:
    </td>
  <tr>
    <td><%= link_to "[Staff search]", staff_search_path %></td>
    <td><%= link_to "[Course search]", course_search_path %></td>
    <td><%= link_to "[Project search]", project_search_path %></td>
    <td><%= link_to "[Thesis search]", thesis_search_path %></td>
  </tr>
  <tr>
    <td>
      Favourites:
    </td>
  </tr>
  <tr>
    <td><%= link_to "[Staff favourites]", staff_favourites_url(:p => 1) %></td>
    <td><%= link_to "[Course favourites]", course_favourites_path %></td>
    <td><%= link_to "[Project favourites]", project_favourites_path %></td>
    <td><%= link_to "[Thesis favourites]", thesis_favourites_path %></td>
  </tr>
</table>
