<!DOCTYPE html>
<html>
  <head>
    <title>Andromeda</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
  <header>
    <% if session[:user_id] %>
      <%= link_to "Home", current_user %>
      <%= button_to "Logout",logout_path , method: :delete%>
    <% end %>
  </header>
    <% flash.each do |type, msg| %>
      <div>
        <br>
        <%= msg %>
        <br>
      </div>

    <% end %>

    <%= yield %>
  </body>
</html>
